* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text-primary); 
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
}

ul, ol {
    list-style: none;
}

:root {
    --clr-primary-blue-950: hsl(213, 96%, 18%);
    --clr-primary-purple-600: hsl(243, 100%, 62%);
    --clr-primary-blue-300: hsl(228, 100%, 84%);
    --clr-primary-blue-200: hsl(206, 94%, 87%);
    --clr-primary-red-500: hsl(354, 84%, 57%);

    --clr-neutral-grey-500: hsl(231, 11%, 63%);
    --clr-neutral-purple-200: hsl(229, 24%, 87%);
    --clr-neutral-blue-100: hsl(218, 100%, 97%);
    --clr-neutral-blue-50: hsl(231, 100%, 99%);
    --clr-neutral-white: hsl(0, 100%, 100%);

    --clr-background: var(--clr-neutral-blue-100);
    --clr-text-primary: var(--clr-primary-blue-950);
    --clr-text-secondary: var(--clr-neutral-grey-500);
    --clr-error: var(--clr-primary-red-500);
    --clr-border: var(--clr-neutral-purple-200);
    --clr-border-active: var(--clr-primary-purple-600);  
    
    --fs-sm: 0.75rem;    /* 12px */
    --fs-base: 0.875rem; /* 14px */
    --fs-md: 1rem;       /* 16px */
    --fs-lg: 1.5rem;     /* 24px */
    --fs-xl: 2rem;       /* 32px */

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;

    --transition-fast: 150ms ease;
    --transition-base: 250ms ease;
}

.app-wrapper {
    display: flex;
    grid-template: 274px 1fr;
    background-color: var(--clr-neutral-white);
    border-radius: var(--radius-xl);
    box-shadow: 0 25px 40px rgba(229, 23%, 23%, 0.2);
    width: min(940px, 100%);
    min-height: 600px;
    overflow: hidden;
    padding: var(--space-md);
}

.sidebar {
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-position: center;
    padding: var(--space-2xl) var(--space-xl);
    border-radius: var(--radius-md);
    width: 30%;
}

.steps-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.step-item {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.step-number {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid var(--clr-border);
    color: var(--clr-neutral-white);
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: background-color var(--transition-base), 
                color var(--transition-base),
                border-color var(--transition-base);
}

.step-item.active .step-number{
    background-color: var(--clr-primary-blue-200);
    color: var(--clr-primary-purple-600);
}

.step-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.step-tag {
    font-size: var(--fs-sm);
    text-transform: uppercase;
    color: var(--clr-neutral-grey-500);
    letter-spacing: 1px;
}

.step-tag-title {
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-white);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content {
    padding: var(--space-2xl) var(--space-2xl) var(--space-xl);
    display: grid;
    grid-template-rows: 1fr auto;
}

.step-content {
    max-width: 450px;
    width: 100%;
}

.step-content h1 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    color: var(--clr-text-primary);
    margin-bottom: var(--space-xs);
}

.step-content .step-description{
    color: var(--clr-text-secondary);
    margin-bottom: var(--space-2xl);
    line-height: 1.6;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    margin-bottom: var(--space-lg);
}

.form-group label {
    font-size: var(--fs-base);
    font-weight: var(--fw-medium);
    color: var(--clr-text-primary);
}

.error-message {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    color: var(--clr-error);
    min-height: 1em;
}

.form-group input{
    width: 100%;
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--clr-border);
    border-radius: var(--radius-md);
    font-family: inherit;
    font-size: var(--fs-md);
    color: var(--clr-text-primary);
    font-weight: var(--fw-medium);
    background-color: var(--clr-neutral-white);
    transition: border-color var(--transition-base);
    outline: none;
}

.form-group input::placeholder  {
    color: var(--clr-neutral-grey-500);
    font-weight: var(--fw-regular);
}

.form-group input:hover  {
    border-color: var(--clr-border-active);
}

.step-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: var(--space-2xl);
    gap: var(--space-md);
}

.btn-next{
    background-color: var(--clr-primary-blue-950);
    color: var(--clr-neutral-white);
    font-weight: var(--fw-medium);
    padding: var(--space-sm) var(--space-xl);
    border-radius: var(--radius-md);
    transition: background-color var(--transition-fast);  
}

.btn-next:hover {
    background-color: var(--clr-border-active);
}

.plan-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-md);
    margin-bottom: var(--space-md); 
}

.plan-card {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding: var(--space-md);
    border: 1px solid var(--clr-border);
    border-radius: var(--radius-lg);
    cursor: pointer;
    transition: border-color var(--transition-fast), background-color var(--transition-fast);
}

.plan-card:hover {
    border-color: var(--clr-border-active);
    background-color: var(--clr-neutral-blue-50);
}

.plan-card input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.plan-card img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.plan-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.plan-name {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--clr-text-primary);
}

.plan-price {
    font-size: var(--fs-base);
    color: var(--clr-text-secondary);
}

.plan-card:has(input[type="radio"]:checked) {
    border-color: var(--clr-border-active);
    background-color: var(--clr-neutral-blue-50);
}

.billing-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    padding: var(--space-md );
    margin-bottom: var(--space-lg);
}

.billing-label {
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    color: var(--clr-text-secondary);
}

.billing-label.active {
    color: var(--clr-text-primary);
}

.btn-toggle {
    width: 40px;
    height: 20px;
    background-color: var(--clr-border);
    border-radius: var(--radius-lg);
    padding: 0;
    position: relative;
    transition: background-color var(--transition-base);
}

.toggle-thumb {
    width: 14px;
    height: 14px;
    background-color: var(--clr-neutral-white);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform var(--transition-base);
    pointer-events: none;
}

.billing-toggle.is-yearly .toggle-thumb {
    transform: translateX(18px);
}

.billing-toggle.is-yearly #label-yearly {
    background-color: var(--clr-primary-purple-600);
}   

.billing-toggle.is-yearly #label-monthly {
    color: var(--clr-text-secondary);
}

.btn-go-back{
    color: var(--clr-text-secondary);
    font-weight: var(--fw-medium);
    padding: var(--space-sm) var(--space-xl);
    border-radius: var(--radius-md);
    transition: background-color var(--transition-fast);  
    margin-right: auto;
}

.btn-go-back:hover {
    background-color: var(--clr-neutral-purple-200);
}